<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<link rel="stylesheet" href="../assets/css/teacher_signup.css" />
<script type="text/javascript" src="../assets/javascript/teacher_signup.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<title>SignUp</title>
</head>
<body>
	<input type="hidden" id="status" value=<%=status%>>
	<nav id="navbar" class="navbar">
		<h4>Result Management System</h4>
		<div class="float-right">
			<table>
				<tr>
					<th>
						<h5 class="nav-item">Welcome User</h5>
					</th>
					<th><a href="/"><button type="button" class="btn btn-success active">Home</button></a></th>
					<th><a href="/teacher/signup"><button type="button" class="btn btn-success active">SignUp</button></a></th>
					<th><a href="/teacher/login"><button type="button" class="btn btn-success active">SignIn</button></a></th>
				</tr>
			</table>
		</div>
	</nav>
    <!-- Container class for sigup-->
	<div class="container">
		<div class="myCard">
			<div class="row">
				<div class="col-md-6">
					<div class="myLeftCtn">
						<form class="myForm text-center" action="/teacher/signup" onsubmit="return validate()" method="post">
							<header>Create new account</header>
							<div class="form-group" id="first_Name">
								<i class="fas fa-user"></i> <input class="myInput" type="text"
									placeholder="First Name" id="fname" name="firstName">
									<h6 class="formerror"> </h6>
							</div>

							<div class="form-group" id="last_name">
								<i class="fas fa-user"></i> <input class="myInput" type="text"
									placeholder="Last Name" id="lname" name="lastName">
									<h6 class="formerror"></h6>
							</div>

							<div class="form-group" id="inputemail">
								<i class="fas fa-envelope"></i> <input class="myInput"
									placeholder="Email" type="email" id="email" name="email">
									<h6 class="formerror"> </h6>
							</div>

							<div class="form-group" id="inputPassword">
								<i class="fas fa-lock"></i> <input class="myInput"
									type="password" id="password" name="password"
									placeholder="Password">
									<h6 class="formerror"> </h6>
							</div>

							<div class="form-group" id="inputRepeatpwd">
								<i class="fas fa-lock"></i> <input class="myInput"
									type="password" id="repeatPassword"
									placeholder="confirm Password">
									<h6 class="formerror"> </h6>
							</div>

							<input type="submit" class="butt" value="CREATE ACCOUNT">
							<div class="form-group">
								<p>Already have an Account <a href="/teacher/login">SignIn!</a></p>
							</div>

						</form>

					</div>
				</div>
				<div class="col-md-6">
					<div class="myRightCtn">
						<div class="box">
							<header>Welcome User!</header>
							<img src="/assets/image/StudentResultImage.jpg" width="300" height="200">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>