@charset "ISO-8859-1";
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
.container {
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myLeftCtn {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  padding-left: 50px;
  align-content: flex-end;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  outline: none;
  left: 36px;
  color: #fff;
  width: 230px;
  border: none;
}
.myCard {
  position: relative;
  background:  #fff;
  height: 100%;
  width:80%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}
#navbar{
	background-color: #cf51f5;
	-webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}
#footer{
	background-color: #cf51f5;
	-webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}
th{
	padding: 4px;
}
table.table, th.bookRow, td.tableHead {
    border:1px solid black;
    border-collapse: collapse;
  }
table.table{
 margin-left: auto;
  margin-right: auto;
}
.card-header{
	margin-left: 10em;
}
.addBtn{
	background-color: #cf51f5 !important;
}
.btn{
  margin-left: 8px;
}


